<ul class="card-text font-weight-light list-group list-group-flush">
  {% if entry.description %}
    <span class="item">{{ entry.description }}</span>
  {% endif %}
    {% for content in entry.contents %}
      <li class="list-group-item">
      <!-- <h5 class="font-italic">{{ content.title }}</h5> -->
      <h5>{{ content.title }}</h5>
      {% if content.items %}
        <ul class="subitems">
          {% for subitem in content.items %}
            <li><span class="subitem">{{ subitem }}</span></li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>